@import '../../../node_modules/bulma/bulma';

body {
	font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}

.hero {
	background: #6441A5;
	background: -webkit-linear-gradient(to right, #6441A5 , #2a0845);
	background: linear-gradient(to right, #6441A5 , #2a0845);
	.title {
		color: white;
		margin-bottom: 40px;
		font-weight: bold;
	}
	.subtitle {
		color: bisque;
		margin-bottom: 40px;
		font-weight: bold;
	}
}

p {
	font: 16px/28px normal Source Sans Pro, Helvetica, Arial, sans-serif;
    color: white;
	text-align: left;
}

blockquote {
 	text-align: left;
}

a:hover {
	color: #1fc8db;
}